/**
 * Clearance Badge block styles.
 */

.wc-clearance-badge {
	line-height: 1;
	display: inline-block;
}

@supports (text-box-trim: trim-both) {

	.wc-clearance-badge {
		text-box-trim: trim-both;
		text-box-edge: cap alphabetic;
	}
}
