/**
 * Clearance Badge block styles.
 */

.wc-clearance-badge {
	display: inline-block;
	background-color: var(--wc-clearance-badge-bg-color, unset);
	color: var(--wc-clearance-badge-text-color, unset);
	border-radius: var(--wc-clearance-badge-border-radius, unset);
	border-color: var(--wc-clearance-badge-border-color, unset);
	border-style: var(--wc-clearance-badge-border-style, unset);
	border-width: var(--wc-clearance-badge-border-width, unset);
	font-weight: var(--wc-clearance-badge-font-weight, unset);
	font-size: calc(var(--wc-clearance-parent-font-size-override, 1em) * (1cap / 1em) * var(--wc-clearance-badge-scale) / 100 * (100 - var(--wc-clearance-badge-density)) / 100 / (1cap / 1em));
	padding: calc(var(--wc-clearance-parent-font-size-override, 1em) * (1cap / 1em) * var(--wc-clearance-badge-scale) / 100 * var(--wc-clearance-badge-density) / 100 / 2);
	line-height: 1;
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
}

