/**
 * Block and shortcode styles for the cart badge.
 *
 * Replaces the "Clearance: Yes" meta text with a styled badge using
 * css before/after.
 *
 * Uses accessible hiding technique from https://webaim.org/techniques/css/invisiblecontent/
 */

/* Block styles. */
@supports selector(:has(*)) {

	.wc-block-components-order-summary-item__description:has(.wc-clearance-cart-item-meta) .wc-block-components-product-metadata::before,
	.wc-block-cart-item__product:has(.wc-clearance-cart-item-meta) .wc-block-components-product-metadata::before {
		content: var(--wc-clearance-badge-label, none);
		display: block;
		width: fit-content;
		border-radius: var(--wc-clearance-badge-border-radius, unset);
		font-weight: var(--wc-clearance-badge-font-weight, unset);
		font-size: calc(var(--wc-clearance-badge-context-font-size, 1em) * (1cap / 1em) * var(--wc-clearance-badge-scale) / 100 * var(--wc-clearance-badge-density) / 100 / (1cap / 1em));
		padding: calc(1cap * (100 - var(--wc-clearance-badge-density)) / var(--wc-clearance-badge-density) / 2);
		line-height: 1;
		text-box-trim: trim-both;
		text-box-edge: cap alphabetic;
		background-color: var(--wc-clearance-badge-bg-color, unset);
		color: var(--wc-clearance-badge-text-color, unset);

		/* Match summary font size set by WooCommerce core. */
		--wc-clearance-badge-context-font-size: var(--wp--preset--font-size--x-small, calc(var(--wp--preset--font-size--small, 14px) * 0.875));
	}

	[class*="wc-block-components-product-details__"]:has(.wc-clearance-cart-item-meta) {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
}

/* Shortcode styles. */
@supports selector(:has(*)) {

	.shop_table td.product-name:has(.wc-clearance-cart-item-meta)::after {
		content: var(--wc-clearance-badge-label, none);
		display: block;
		width: fit-content;
		clear: both;
		border-radius: var(--wc-clearance-badge-border-radius, unset);
		font-weight: var(--wc-clearance-badge-font-weight, unset);
		font-size: calc(var(--wc-clearance-badge-context-font-size, 1em) * (1cap / 1em) * var(--wc-clearance-badge-scale) / 100 * var(--wc-clearance-badge-density) / 100 / (1cap / 1em));
		padding: calc(1cap * (100 - var(--wc-clearance-badge-density)) / var(--wc-clearance-badge-density) / 2);
		line-height: 1;
		text-box-trim: trim-both;
		text-box-edge: cap alphabetic;
		background-color: var(--wc-clearance-badge-bg-color, unset);
		color: var(--wc-clearance-badge-text-color, unset);
	}

	/* Applies when clearance is the only definition. */
	.shop_table dl.variation:has(> dt:only-of-type):has(.wc-clearance-cart-item-meta) {
		margin: 0;
	}

	.shop_table dd:has(.wc-clearance-cart-item-meta),
	.shop_table dt:has(+ dd .wc-clearance-cart-item-meta) {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
}
