/**
 * Block and shortcode styles for the cart badge.
 *
 * Replaces the "Clearance: Yes" meta text with a styled badge using css :after.
 * Uses accessible hiding technique from https://webaim.org/techniques/css/invisiblecontent/
 */

/* Shortcode styles. */
@supports selector(:has(*)) {
	.shop_table td.product-name:has(.variation-Clearance)::after {
		content: var(--wc-clearance-badge-label, "Clearance");
		display: block;
		width: fit-content;
		border-radius: 2px;
		padding: 0.36em;
		font-weight: 600;
		font-size: 0.72em;
		line-height: 1;
		text-box-trim: trim-both;
		text-box-edge: cap alphabetic;
		background-color: var(--wc-clearance-badge-bg-color, #ffee85);
		color: var(--wc-clearance-badge-text-color, #222);
	}

	/* Applies when .variation-Clearance are the only children. */
	.shop_table dl.variation:has(> .variation-Clearance):not(:has(> :not(.variation-Clearance))) {
		margin: 0;
	}

	.shop_table .variation-Clearance {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
}
