/**
 * Front-end badge styles for classic themes.
 */

.wc-clearance-badge {
	display: block;
	width: fit-content;
	background-color: var(--wc-clearance-badge-bg-color, unset);
	color: var(--wc-clearance-badge-text-color, unset);
	border-radius: var(--wc-clearance-badge-border-radius, unset);
	padding: 0.36em;
	font-weight: var(--wc-clearance-badge-font-weight, unset);
	font-size: 0.83em;
	line-height: 1;
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
}
