/**
 * Front-end badge styles for classic themes.
 */

.outletpro-badge {
	display: block;
	width: fit-content;
	background-color: var(--outletpro-badge-bg-color, unset);
	color: var(--outletpro-badge-text-color, unset);
	border-radius: var(--outletpro-badge-border-radius, unset);
	font-weight: var(--outletpro-badge-font-weight, unset);
	font-size: calc(var(--outletpro-context-font-size, 1em) * (1cap / 1em) * var(--outletpro-badge-scale) / 100 * var(--outletpro-badge-density) / 100 / (1cap / 1em));
	padding: calc(1cap * (100 - var(--outletpro-badge-density)) / var(--outletpro-badge-density) / 2);
	line-height: 1;
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
}
